body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
  background-image: url("https://cdn.glitch.global/8075e640-598c-43fe-9ffd-f3766cecb71d/crash.png?v=1657445763905");
}

.a {
  background-image: url("https://cdn.glitch.global/8075e640-598c-43fe-9ffd-f3766cecb71d/kick.png?v=1657445772771");
}

.s {
  background-image: url("https://cdn.glitch.global/8075e640-598c-43fe-9ffd-f3766cecb71d/snare.png?v=1657445775100");
}

.d {
  background-image: url("https://cdn.glitch.global/8075e640-598c-43fe-9ffd-f3766cecb71d/tom1.png?v=1657445777825");
}

.j {
  background-image: url("https://cdn.glitch.global/8075e640-598c-43fe-9ffd-f3766cecb71d/tom2.png?v=1657445780770");
}

.k {
  background-image: url("https://cdn.glitch.global/8075e640-598c-43fe-9ffd-f3766cecb71d/tom3.png?v=1657445783138");
}

.l {
  background-image: url("https://cdn.glitch.global/8075e640-598c-43fe-9ffd-f3766cecb71d/tom4.png?v=1657445786140");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
  transform: translateY(-0.25em);
}

.random-beat {
  border: 7px solid #404b69;
  font-size: 1.3rem;
  font-family: "Arvo", cursive;
  font-weight: 500;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  background-color: #212122;
  margin-bottom: 3rem;
  padding: 3px 5px;
}

p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin: 1rem auto 4rem;
  width: 80%;
}

.pressed-beat-generator {
  box-shadow: 0 3px 4px 0 #dbedf3;
}
